<div
  class="flex flex-col w-64 bg-white shadow-md rounded-r-2xl p-6 min-h-[calc(100vh-2rem)] max-h-[calc(100vh-2rem)]"
>
  <!-- Top (Logo + Name) -->
  <div class="flex items-center gap-2 mb-8">
    <div
      class="flex items-center justify-center w-10 h-10 rounded-full bg-yellow-400 text-white font-bold"
    >
      AZ
    </div>
    <span class="text-xl font-semibold text-gray-800">Organizo</span>
  </div>

  <!-- Links -->
  <nav class="flex-1 overflow-y-auto">
    <ul class="flex flex-col space-y-2">
      <li>
        <a
          routerLink="/dashboard"
          routerLinkActive="active-link"
          class="link-item"
        >
          <fa-icon [icon]="faTableColumns" class="mr-2"></fa-icon>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/tasks" routerLinkActive="active-link" class="link-item">
          <fa-icon [icon]="faCheckCircle" class="mr-2"></fa-icon>
          <span>My tasks</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/notifications"
          routerLinkActive="active-link"
          class="link-item"
        >
          <fa-icon [icon]="faBell" class="mr-2"></fa-icon>
          <span>Notifications</span>
        </a>
      </li>
    </ul>

    <div class="border-t border-gray-200 my-6"></div>

    <ul class="flex flex-col space-y-2">
      <li>
        <a
          routerLink="/settings"
          routerLinkActive="active-link"
          class="link-item"
        >
          <fa-icon [icon]="faSliders" class="mr-2"></fa-icon>
          <span>Settings</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/logout"
          routerLinkActive="active-link"
          class="link-item"
        >
          <fa-icon [icon]="faArrowRightFromBracket" class="mr-2"></fa-icon>
          <span>Log out</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
