.link-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;
  color: #4a5568; /* Gray-700 */
  font-weight: 500;
  transition: all 0.2s ease;
  background-color: transparent;
}

.link-item:hover {
  background-color: #edf2f7; /* Gray-200 */
  color: #2d3748; /* Gray-800 */
  text-decoration: none;
}
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
