.opened {
  width: 250px;
  padding-left: 1rem; /* Restore padding when open */
  padding-right: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.closed {
  width: 60px; /* Just enough to show icons */
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.sidenav {
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
  overflow-x: hidden;
}
.logo span {
  color: #5f42ff;
  background-image: linear-gradient(45deg, #5f42ff 50%, #a230ff 53%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-gradient-hover {
  transition: all 0.3s ease-in-out;
}
.logo-title {
  background-image: linear-gradient(45deg, #5f42ff 50%, #a230ff 53%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.group:hover .icon-gradient-hover {
  background-image: linear-gradient(45deg, #5f42ff 50%, #a230ff 53%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
